= {{{appName}}}
{{#headerAttributes}}
{{infoEmail}}
:keywords: openapi, rest, {{appName}}
:specDir: {{specDir}}
:snippetDir: {{snippetDir}}
:generator-template: v1 2019-12-20
:info-url: {{infoUrl}}
:app-name: {{appName}}
{{/headerAttributes}}
{{^headerAttributes}}
:specDir: partial$
:snippetDir: partial$paths/
:page-topic-type: reference
{{/headerAttributes}}
{{#useTableTitles}}
:table-caption!:
{{/useTableTitles}}

{{! include partial before overview }}
{{#specinclude}}/overview/document-before.adoc{{/specinclude}}

{{! *** OVERVIEW *** }}
{{#useIntroduction}}
[[overview]]
== Overview
{{/useIntroduction}}

{{! include partial before overview body }}
{{#specinclude}}/overview/document-begin.adoc{{/specinclude}}

{{^useIntroduction}}
[abstract]
.Abstract
{{/useIntroduction}}
{{{appDescription}}}

{{#version}}
[discrete#version]
=== Version information
[%hardbreaks]
__Version__ : {{{version}}}
{{/version}}

{{#servers}}
[discrete#host]
{{#-first}}
=== Host information

{{/-first}}
....
{{url}}
....

{{{description}}}

{{#variables}}
{{#-first}}
[cols="1,3"]
|===
| Variable | Description

{{/-first}}
a| *{{name}}*
a| {{{description}}}

[%hardbreaks]
{{! enumerated values}}
{{#enumValues}}{{#-first}}*Values:* {{/-first}}{{^-last}}`{{this}}`, {{/-last}}{{#-last}}`{{this}}`{{/-last}}{{/enumValues}}
{{! example }}
{{#value}}*Example:* `{{this}}`{{/value}}
// end

{{#-last}}
|===
{{/-last}}
{{/variables}}
{{/servers}}

{{! include partial after overview body }}
{{#specinclude}}/overview/document-end.adoc{{/specinclude}}

{{! include partial after overview }}
{{#specinclude}}/overview/document-after.adoc{{/specinclude}}

{{! include partial before paths }}
{{#specinclude}}/paths/document-before.adoc{{/specinclude}}

{{! *** PATHS *** }}
[[resources]]
== Resources

{{! Create attributes for tag names and descriptions }}
{{#openAPI}}
{{#tags}}
{{#name}}
:tag-{{#lambda.camelcase}}{{name}}{{/lambda.camelcase}}: {{this}}
{{/name}}
{{#description}}
:toc-{{#lambda.camelcase}}{{name}}{{/lambda.camelcase}}: {{this}}
{{/description}}
{{/tags}}
{{/openAPI}}

{{! include partial before paths body }}
{{#specinclude}}/paths/document-begin.adoc{{/specinclude}}

{{! Table of contents for endpoints }}
This section describes the operations available with this REST API.
The operations are grouped in the following categories.

{{#apiInfo}}
{{#apis}}
{{#operations}}
* <<{{baseName}}>>
{{/operations}}
{{/apis}}
{{/apiInfo}}

{{! Endpoint body }}
{{#apiInfo}}
{{#apis}}
{{#operations}}

{{! tag description }}
[#{{baseName}}]
ifdef::tag-{{#lambda.camelcase}}{{baseName}}{{/lambda.camelcase}}[]
=== {tag-{{#lambda.camelcase}}{{baseName}}{{/lambda.camelcase}}}
endif::[]
ifndef::tag-{{#lambda.camelcase}}{{baseName}}{{/lambda.camelcase}}[]
=== Default
endif::[]

ifdef::toc-{{#lambda.camelcase}}{{baseName}}{{/lambda.camelcase}}[]
{toc-{{#lambda.camelcase}}{{baseName}}{{/lambda.camelcase}}}
endif::[]
ifndef::toc-{{#lambda.camelcase}}{{baseName}}{{/lambda.camelcase}}[]
**{toc-title}**
endif::[]

{{! Table of contents for operations }}
{{#operation}}
* <<{{operationIdOriginal}}>>
{{/operation}}

{{! Operation body }}
{{#operation}}

{{! include partial before operation }}
{{#specinclude}}/paths/{{operationIdOriginal}}/operation-before.adoc{{/specinclude}}

[#{{operationIdOriginal}}]
{{#useMethodAndPath}}
==== {{httpMethod}} {{path}}

{{summary}}

{{/useMethodAndPath}}
{{^useMethodAndPath}}
==== {{summary}}
....
{{httpMethod}} {{path}}
....
{{/useMethodAndPath}}

{{! include partial before operation body }}
{{#specinclude}}/paths/{{operationIdOriginal}}/operation-begin.adoc{{/specinclude}}

{{! *** OPERATION DESCRIPTION *** }}
{{! include partial before operation description }}
{{#specinclude}}/paths/{{operationIdOriginal}}/operation-description-before.adoc{{/specinclude}}

[#{{operationIdOriginal}}-description]
===== Description

{{! include partial before operation description body }}
{{#specinclude}}/paths/{{operationIdOriginal}}/operation-description-begin.adoc{{/specinclude}}

{{{unescapedNotes}}}

{{! include partials after the operation description }}
{{#specinclude}}/paths/{{operationIdOriginal}}/operation-description-end.adoc{{/specinclude}}
{{#specinclude}}/paths/{{operationIdOriginal}}/operation-description-after.adoc{{/specinclude}}

{{! *** OPERATION PARAMETERS *** }}
{{! include partial before operation parameters }}
{{#specinclude}}/paths/{{operationIdOriginal}}/operation-parameters-before.adoc{{/specinclude}}

{{> params}}

{{! include partials after the operation parameters }}
{{#specinclude}}/paths/{{operationIdOriginal}}/operation-parameters-after.adoc{{/specinclude}}

{{! *** OPERATION PRODUCES *** }}
{{#hasProduces}}
[#{{operationIdOriginal}}-produces]
===== Produces

{{#produces}}
* {{{mediaType}}}
{{/produces}}
{{/hasProduces}}

{{! *** OPERATION CONSUMES *** }}
{{#hasConsumes}}
[#{{operationIdOriginal}}-consumes]
===== Consumes

{{#consumes}}
* {{{mediaType}}}
{{/consumes}}
{{/hasConsumes}}

{{! *** OPERATION RESPONSES *** }}
{{! include partial before operation responses }}
{{#specinclude}}/paths/{{operationIdOriginal}}/operation-responses-before.adoc{{/specinclude}}

{{! If there are responses: anchor, title, and table header }}
{{#responses}}
{{#-first}}
[#{{operationIdOriginal}}-responses]
===== Responses

{{! include partial before operation responses body }}
{{#specinclude}}/paths/{{operationIdOriginal}}/operation-responses-begin.adoc{{/specinclude}}

[cols="1,3,1"]
|===
| HTTP Code | Description | Schema
{{/-first}}
{{/responses}}

{{! Iterate through responses }}
{{#responses}}
| {{code}}
a| {{{message}}}
| {{>schema}}
{{/responses}}

{{! If there are responses: table footer }}
{{#responses}}
{{#-last}}
|===

{{! include partials after operation responses body }}
{{#specinclude}}/paths/{{operationIdOriginal}}/operation-responses-end.adoc{{/specinclude}}
{{/-last}}
{{/responses}}

{{! include partials after operation responses }}
{{#specinclude}}/paths/{{operationIdOriginal}}/operation-responses-after.adoc{{/specinclude}}

{{! *** OPERATION SECURITY *** }}
{{! include partial before operation security }}
{{#specinclude}}/paths/{{operationIdOriginal}}/operation-security-before.adoc{{/specinclude}}

{{! If there is operation security: anchor, title, and table header }}
{{#authMethods}}
{{#-first}}
[#{{operationIdOriginal}}-security]
===== Security

{{! include partial before operation security body }}
{{#specinclude}}/paths/{{operationIdOriginal}}/operation-security-begin.adoc{{/specinclude}}

[cols="1,3"]
|===
| Type | Name
{{/-first}}
{{/authMethods}}

{{! Iterate through operation security }}
{{#authMethods}}
| {{type}}{{#scheme}} ({{scheme}}){{/scheme}}
| <<{{name}}>>
{{/authMethods}}

{{! If there is operation security: table footer }}
{{#authMethods}}
{{#-last}}
|===

{{! include partials after operation security body }}
{{#specinclude}}/paths/{{operationIdOriginal}}/operation-security-end.adoc{{/specinclude}}
{{/-last}}
{{/authMethods}}

{{! include partials after operation security }}
{{#specinclude}}/paths/{{operationIdOriginal}}/operation-security-after.adoc{{/specinclude}}

{{! *** OPERATION SAMPLES *** }}
{{! Include partials for operation sample requests and responses }}
{{! The partials should have a level 1 title; the level offset pushes the title down to the correct section level. }}
{{^skipExamples}}
:leveloffset: +4
{{#snippetinclude}}{{operationIdOriginal}}/http-request.adoc{{/snippetinclude}}
{{#snippetinclude}}{{operationIdOriginal}}/http-response.adoc{{/snippetinclude}}
:leveloffset: -4

{{! Wiremock data not currently used }}
{{#snippetlink}}* wiremock data, {{path}}/{{httpMethod}}/{{httpMethod}}.json{{/snippetlink}}
{{/skipExamples}}

{{! Implementation not currently used }}
ifdef::internal-generation[]
===== Implementation
{{#specinclude}}{{path}}/{{httpMethod}}/implementation.adoc{{/specinclude}}

endif::internal-generation[]

{{! include partials after the operation }}
{{#specinclude}}/paths/{{operationIdOriginal}}/operation-end.adoc{{/specinclude}}
{{#specinclude}}/paths/{{operationIdOriginal}}/operation-after.adoc{{/specinclude}}

{{/operation}}
{{/operations}}
{{/apis}}
{{/apiInfo}}

{{! include partial after paths body }}
{{#specinclude}}/paths/document-end.adoc{{/specinclude}}

{{! include partial after paths }}
{{#specinclude}}/paths/document-after.adoc{{/specinclude}}

{{! *** MODELS *** }}
{{> model}}

{{! include partial before security }}
{{#specinclude}}/security/document-before.adoc{{/specinclude}}

{{! *** SECURITY *** }}
{{#hasAuthMethods}}
[[security]]
== Security

{{! include partial before security body }}
{{#specinclude}}/security/document-begin.adoc{{/specinclude}}

{{#authMethods}}

{{! include partial before security scheme }}
{{#specinclude}}/security/{{name}}/security-scheme-before.adoc{{/specinclude}}

{{#isBasic}}
[[security-{{name}}]]
=== {{name}}

{{! include partial before security scheme body }}
{{#specinclude}}/security/{{name}}/security-scheme-begin.adoc{{/specinclude}}

{{#isBasicBasic}}

[%hardbreaks]
__Type__ : {{type}}
{{/isBasicBasic}}
{{#isBasicBearer}}

[%hardbreaks]
__Type__ : {{type}}
__Scheme__ : {{scheme}}
{{#bearerFormat}}__Format__: {{bearerFormat}}{{/bearerFormat}}
{{/isBasicBearer}}
{{/isBasic}}
{{#isOAuth}}* *OAuth*  AuthorizationUrl: _{{authorizationUrl}}_, TokenUrl:   _{{tokenUrl}}_ {{/isOAuth}}
{{#isApiKey}}* *APIKey* KeyParamName:     _{{keyParamName}}_,     KeyInQuery: _{{isKeyInQuery}}_, KeyInHeader: _{{isKeyInHeader}}_{{/isApiKey}}

{{! include partial after security scheme body }}
{{#specinclude}}/security/{{name}}/security-scheme-end.adoc{{/specinclude}}

{{! include partial after security scheme }}
{{#specinclude}}/security/{{name}}/security-scheme-after.adoc{{/specinclude}}

{{/authMethods}}

{{! include partial after security body }}
{{#specinclude}}/security/document-end.adoc{{/specinclude}}

{{/hasAuthMethods}}

{{! include partial after security }}
{{#specinclude}}/security/document-after.adoc{{/specinclude}}
