{{! include partial before definitions }}
{{#specinclude}}/definitions/document-before.adoc{{/specinclude}}

[#models]
= Definitions

{{! include partial before definitions body }}
:leveloffset: +1
{{#specinclude}}/definitions/document-begin.adoc{{/specinclude}}

{{! Table of contents }}
This section describes the properties consumed and returned by this REST API.

ifeval::[{count-models} > 10]
[.two-columns]
endif::[]
[%hardbreaks]
{{#models}}
{{#model}}
<<{{name}}>>
{{/model}}
{{/models}}

{{! *** DEFINITION *** }}
{{#models}}
{{#model}}

{{! include partial before definition }}
{{#specinclude}}/definitions/{{name}}/definition-before.adoc{{/specinclude}}

ifeval::[{count-models} > 10]
[discrete]
endif::[]
[#{{name}}]
= {{#title}}{{title}}{{/title}}{{^title}}{{classname}}{{/title}}

{{! include partial before definition body }}
:leveloffset: +1
{{#specinclude}}/definitions/{{name}}/definition-begin.adoc{{/specinclude}}

{{^composedSchemas}}
{{#hasVars}}
.icon:brackets-curly[fw] Object
{blank}

{{! tag for partial}}
//tag::{{name}}[]

{{! Create partial model description }}
{{#description}}
ifdef::model-descriptions[]
//tag::desc-{{name}}[]
{{{unescapedDescription}}}
//end::desc-{{name}}[]
endif::model-descriptions[]
{{/description}}

[cols="25,55,20"]
|===
| Property | | Schema

{{#vars}}
{{! DEFINITION NAME }}
a| {{#vendorExtensions}}{{#x-desc-name}}[#{{this}}]{{/x-desc-name}}{{/vendorExtensions}}
*{{baseName}}* +
_{{#required}}required{{/required}}{{^required}}optional{{/required}}_
{{! DEFINITION DESCRIPTION }}
a| {{>model}}
{{! DEFINITION SCHEMA }}
| {{>schema}}
{{/vars}}
{{#additionalProperties}}
{{! ADDITIONAL PROPERTY NAME }}
a| {{#vendorExtensions}}{{#x-desc-name}}[#{{this}}]{{/x-desc-name}}{{/vendorExtensions}}
_additional +
property_
{{! ADDITIONAL PROPERTY DESCRIPTION }}
a| {{>model}}
{{! ADDITIONAL PROPERTY SCHEMA }}
| {{>schema}}
{{/additionalProperties}}
|===

{{! end tag for partial}}
//end::{{name}}[]

{{! Polymorphism}}
{{#hasDiscriminatorWithNonEmptyMapping}}
This schema has different properties, depending on the value of *{{discriminatorName}}*:
{{#discriminator}}

{{#mappedModels}}
* `{{mappingName}}` -- <<{{modelName}}>>
{{/mappedModels}}
{{/discriminator}}
{{/hasDiscriminatorWithNonEmptyMapping}}
{{/hasVars}}
{{#isString}}
.icon:quote-left[fw] String
{blank}

{{>model}}
{{/isString}}
{{#isArray}}
.icon:brackets[fw] Array
{blank}

{{>model}}

{{#items}}
{{>schema}} array
{{/items}}
{{/isArray}}
{{/composedSchemas}}
{{#composedSchemas}}
{{#oneOf}}
{{#-first}}One of the following:

{{/-first}}
* {{>schema}}
{{/oneOf}}
{{#anyOf}}
{{#-first}}Any of the following:

{{/-first}}
* {{>schema}}
{{/anyOf}}
{{#allOf}}
{{#-first}}All of the following:

{{/-first}}
* {{>schema}}
{{/allOf}}
{{/composedSchemas}}

{{! include partial after definition body }}
{{#specinclude}}/definitions/{{name}}/definition-end.adoc{{/specinclude}}

{{! include partial after definition }}
:leveloffset: -1
{{#specinclude}}/definitions/{{name}}/definition-after.adoc{{/specinclude}}

{{/model}}
{{/models}}

{{! include partial after definitions body }}
{{#specinclude}}/definitions/document-end.adoc{{/specinclude}}

{{! include partial after definitions }}
:leveloffset: -1
{{#specinclude}}/definitions/document-after.adoc{{/specinclude}}