{{! If this is not an array ... }}
{{^isContainer}}
{{! ... but is a named object, create a link to that object; }}
{{#isModel}}
<<{{dataType}}>>
{{/isModel}}
{{! ... otherwise: }}
{{^isModel}}
{{! ... if this has a specific data type, output the data type and data format; }}
{{^isAnyType}}
{{dataType}}{{#dataFormat}} ({{{dataFormat}}}){{/dataFormat}}
{{/isAnyType}}
{{! ... if not, just output the base type. }}
{{#isAnyType}}
{{baseType}}
{{/isAnyType}}
{{/isModel}}
{{/isContainer}}
{{! If this is an array ... }}
{{#isContainer}}
{{! ... and each item is a named object, create a link to that object; }}
{{#items.isModel}}
<<{{items.dataType}}>>
{{/items.isModel}}
{{! ... otherwise: }}
{{^items.isModel}}
{{! ... if each item has a specific data type, output each item's data type ... }}
{{^items.isAnyType}}
{{items.dataType}}
{{/items.isAnyType}}
{{! ... if not, just output each item's base type ... }}
{{#items.isAnyType}}
{{items.baseType}}
{{/items.isAnyType}}
{{/items.isModel}}
{{! ... and finally, output the array data type. }}
{{dataType}}
{{/isContainer}}